{% extends 'generator/layout.html' %}

{% block content %}
<h1>about</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, alias? Nisi vitae perspiciatis error quia sunt eligendi voluptas, odit voluptate sit tenetur ratione, minima laudantium officia? Molestias, similique quia harum sunt sequi tempora laboriosam repellendus ab natus deserunt veritatis iure ut maiores assumenda deleniti ullam tenetur quasi doloremque at quis dignissimos? Illo explicabo corrupti tempora modi cum eveniet aspernatur placeat, debitis reiciendis voluptatibus quidem repudiandae quaerat rerum, iste molestiae deserunt alias praesentium officiis labore dolore ut. Repellat, fugiat iste! Placeat doloribus aperiam sint quam error quasi ipsum deserunt adipisci, fuga ducimus possimus, consequuntur eius vel illo commodi corporis exercitationem! Itaque.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit at eius. Error repellendus ex voluptatum rerum at, libero sunt quo minus nam doloremque in ipsum molestiae ipsa, qui expedita!</p>

{% endblock %}